.title {
    font-size: larger;
    font-weight: bold;
}

.table-buttons {
    padding: 6px 0;
}

.table-buttons .btn-float-right {
    float: right;
}

.table-buttons .btn-float-right ul.dropdown-menu {
    left: auto;
    right: 0;
}

.table th.centered-cell, .table td.centered-cell {
    text-align: center;
}

.table tr.rowYellow {
    background-color: #fcf8e3;
    color: #c09853;
    border-color: #fbeed5;
}

.table-striped tbody > tr.rowYellow:nth-child(odd) > td,
.table-striped tbody > tr.rowYellow:nth-child(odd) > th {
    background-color: #fcf8e3;
    color: #c09853;
    border-color: #fbeed5;
}

.table tr.rowRed {
    background-color: #f2dede;
    color: #b94a48;
    border-color: #eed3d7;
}

.table-striped tbody > tr.rowRed:nth-child(odd) > td,
.table-striped tbody > tr.rowRed:nth-child(odd) > th {
    background-color: #f2dede;
    color: #b94a48;
    border-color: #eed3d7;
}

.table tr.rowGreen {
    background-color: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
}

.table-striped tbody > tr.rowGreen:nth-child(odd) > td,
.table-striped tbody > tr.rowGreen:nth-child(odd) > th {
    background-color: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
}

.table tbody tr.rowBlue {
    background-color: #d9edf7;
    color: #3a87ad;
    border-color: #bce8f1;
}

.table-striped tbody > tr.rowBlue:nth-child(odd) > td,
.table-striped tbody > tr.rowBlue:nth-child(odd) > th {
    background-color: #d9edf7;
    color: #3a87ad;
    border-color: #bce8f1;
}
